.backdrop-title{
  position: relative;

  &::before{
    content: '';

    position: absolute;
    top: 0;
    right: calc(100% + 8px);
    z-index: 1;

    display: block;
    width: 26px;
    aspect-ratio: 1;

    background: url('../../icons/plus.svg') center/cover no-repeat;
  }

  &::after{
    content: attr(data-backdrop-text);

    font-family: var(--font-family-accent);
    font-size: 2.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;

    position: absolute;
    top: -0.50em;
    left: -0.65em;
    z-index: -1;

    text-stroke: 1px var(--color-gray);
    -webkit-text-stroke: 1px var(--color-gray);
  }
}