.find-us{
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet{
    grid-template-columns: 1fr;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet{
      order: 1;
      padding: 30px 40px;
    }
  }

  &__title{
    margin-bottom: 15px;
  }

  &__description{
    margin-bottom: 40px;
    width: clamp(200px, 26.04vw ,500px);
    text-align: center;

    @include tablet{
      width: 100%;
    }
  }
}