body{
  @include fluid-text(16, 18);

  font-family: var(--font-family-base);
  font-weight: 300;
  line-height: 1.75;
  color: var(--color-gray-alt);
  background-color: var(--color-dark);
}

.container{
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

a{
  @include reset-link();
}

button{
  //@include reset-button();
  
}

a,
button,
input,
textarea,
svg, {
  transition-duration: var(--transition-duration);
}